/*Index/Homepage*/
@media screen and (max-width: 942px){
        .wrapper{
        display: grid;
        grid-template-areas: 
        "she she"
        "se se"
        "ma ma"
        "ft ft";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 4fr 0.5fr;
        height: 100vh;
        width: 100vw;
    }

    .headerlink{
        color: black;
        text-decoration: none;
    }

    body{
        margin: 0;
    }

    .sectionheader{
        grid-area: she;
        background: #94A4D1;

        display: grid;
        grid-template-areas: 
        "na he";
        grid-template-columns: 0.7fr 5fr;
    }

    .header{
        grid-area: he;
        background: #94A4D1;
        text-align: center;
        padding-right: 70px;
    }

    .nav{
        grid-area: na;
        background: #94A4D1;
        padding-top: 13px;
        text-align: center;
    }

    section{
        grid-area: se;
        
        display: grid;
        grid-template-areas: 
        "ar1 ar2";
        grid-gap: 5px;
        background-color: #567395;
    }

    main{
        grid-area: ma;
        background: #708CAD;
        padding-left: 10px;
        overflow: scroll;
    }

    .footer{
        grid-area: ft;
        background: #0D1218;
        text-align: center;
        color: #567395;
    }

    .article1{
        grid-area: ar1;
        padding: 10px;
        text-align: center;
    }

    .article2{
        grid-area: ar2;
        padding: 10px;
        text-align: center;
    }

    body,ul{
        margin: 0;
    }

    .menu{
        height: 20vh;
        width: 50vw;
        background: grey;
        position: fixed;
        top: 0;
        left: -100vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 0px -10px rgba(0, 0, 0, 0.75);
        z-index: 10;
        border-radius: 0px 0px 10px 10px;
    }

    .menu-button{
        cursor: pointer;
        display: inline;
    }

    .menu-button i.material-icons{
        font-size: 2.5rem;
    }

    .show{
        left: 0vw;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(50,50,50,0.5);
        display: none;
        z-index: 5;
    }


    .visible{
        display: block;
    }

    .menulist{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 50vw;
        background-color: #94A4D1;
        border-radius: 0px 0px 10px 0px;
    }
      
    .menulinks a{
        display: block;
        color: rgb(0, 0, 0);
        padding: 8px 16px;
        text-decoration: none;
    }
      
    .menulinks a:hover {
        background-color: #1C2631;
        color: white;
    }

    .mainpagelinks a{
        color: black;
    }

    .mainpagelinks a:hover{
        color: blue;
    }
}

@media screen and (min-width: 943px){
    .wrapper{
        display: grid;
        grid-template-areas: 
        "she she she"
        "ma ma se"
        "ma ma se"
        "ft ft ft";
        grid-template-columns: 1fr 4fr 4fr;
        grid-template-rows: 0.5fr 2fr 4fr 0.5fr;
        height: 100vh;
        width: 100vw;
    }

    body{
        margin: 0;
    }

    .headerlink{
        color: black;
        text-decoration: none;
    }

    .sectionheader{
        grid-area: she;
        border-radius: 10px;
        background: #94A4D1;

        display: grid;
        grid-template-areas: 
        "na he";
        grid-template-columns: 0.7fr 5fr;
    }

    .header{
        grid-area: he;
        background: #94A4D1;
        text-align: center;
        padding-right: 200px;
    }

    .nav{
        grid-area: na;
        background: #94A4D1;
        padding-top: 13px;
        padding-right: 100px;
        text-align: center;
    }

    section{
        grid-area: se;
        
        display: grid;
        grid-template-areas: 
        "ar1"
        "ar2";
        grid-gap: 5px;
        background-color: #708CAD;
    }
    
    main{
        grid-area: ma;
        background: #708CAD;
    }
    
    .footer{
        grid-area: ft;
        background: #0D1218;
        color: #567395;
        text-align: center;
    }
    
    .article1{
        grid-area: ar1;
        padding: 10px;
        text-align: center;
        display: block;
        border: 1px solid#304154;
        background: #304154;
    }
    
    .article2{
        grid-area: ar2;
        padding: 10px;
        text-align: center;
        display: block;
        border: 1px solid #304154;
        background: #304154;
    }

    body,ul{
        margin: 0;
    }

    .menu{
        height: 20vh;
        width: 50vw;
        background: grey;
        position: fixed;
        top: 0;
        left: -100vw;
        transition: left 0.3s;
        box-shadow: 10px 0px 0px -10px rgba(0, 0, 0, 0.75);
        z-index: 10;
        border-radius: 0px 0px 10px 10px;
    }

    .menu-button{
        cursor: pointer;
        display: inline;
    }

    .menu-button i.material-icons{
        font-size: 2.5rem;
    }

    .show{
        left: 0vw;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(50,50,50,0.5);
        display: none;
        z-index: 5;
    }


    .visible{
        display: block;
    }

    .menulist{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 50vw;
        background-color: #f1f1f1;
        border-radius: 0px 0px 10px 0px;
    }
      
    .menulinks a{
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
      
    .menulinks a:hover {
        background-color: #555;
        color: white;
    }

    .mainpagelinks a{
        color: black;
    }

    .mainpagelinks a:hover{
        color: blue;
    }
}










/*catalog/Bok katalog*/
@media screen and (max-width: 942px){
    .catalog_wrapper{
      display: grid;
      grid-template-areas:
      "she she"
      "ma ma"
      "ma ma"
      "ft ft";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr 2fr 4fr 0.5fr;
      height: 100vh;
      width: 100vw;
    }

    .catalog_main{
        grid-area: ma;
        background: #708CAD;
        padding-left: 0;
    }

    .catalogulist{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: #708CAD;
    }
      
    .cataloglist a{
        display: block;
        color: #000;
        padding: 34.2px 16px;
        text-decoration: none;
        border: 1px solid #304154;
    }
      
    .cataloglist a:hover {
        background-color: #1C2631;
        color: #567395;
    }
}

@media screen and (min-width: 943px){
    .catalog_wrapper{
        display: grid;
        grid-template-areas:
        "she she"
        "ma ma"
        "ma ma"
        "ft ft";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 4fr 0.5fr;
        height: 100vh;
        width: 100vw; 
    }

    body{
        margin: 0;
    }

    .catalog_main{
        grid-area: ma;
        background: #708CAD;
        overflow: hidden;
    }

    .catalogulist{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100%;
        background: #708CAD;
    }
      
    .cataloglist a{
        display: block;
        color: #000;
        padding: 43px 16px;
        text-decoration: none;
        border: 1px solid #304154;
    }
      
    .cataloglist a:hover {
        background-color: #1C2631;;
        color: #567395;
    }
}









/*articles/reveiws av böckerna*/
@media screen and (max-width: 942px){
    .article_wrapper{
      display: grid;
      grid-template-areas:
      "she"
      "ar1"
      "ar1"
      "ft";
      grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
      height: 100vh;
      width: 100vw; 
    }

    body{
        margin: 0;
    }

    .ar1{
        grid-area: ar1;
        background: #567395;
        padding: 10px;
        overflow: scroll;
    }
}

@media screen and (min-width: 943px){
    .article_wrapper{
        display: grid;
        grid-template-areas:
        "she"
        "ar1"
        "ar1"
        "ft";
        grid-template-rows: 0.5fr 3fr 3fr 0.5fr;
        height: 100vh;
        width: 100vw;
    }

    body{
        margin: 0;
    }

    .ar1{
        grid-area: ar1;
        background: #567395;
        padding: 10px;
    }
}









/*Informations sida*/
@media screen and (max-width: 942px){
    .info_wrapper{
      display: grid;
      grid-template-areas:
      "she she"
      "ma ma";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.4fr 6fr;
      height: 100vh;
      width: 100vw; 
    }

    body{
        margin: 0;
    }

    .info_main{
        grid-area: ma;
        background: #567395;
        padding: 10px;
        overflow: scroll;
    }

    .contactinfo{
        text-align: center;
        padding-top: 50px;
    }
}

@media screen and (min-width: 943px){
    .info_wrapper{
        display: grid;
        grid-template-areas:
        "she she"
        "ma ma";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 6fr;
        height: 100vh;
        width: 100vw; 
    }

    body{
        margin: 0;
    }

    .info_main{
        grid-area: ma;
        background: #567395;
        padding: 10px;
    }

    .contactinfo{
        text-align: center;
        padding-top: 100px;
    }
}